body {
  background-color: rgb(207, 207, 207);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  padding: 1%;
  font-family: sans-serif;
  text-transform: uppercase;
}

.header-title {
  font-size: 30px;
  color: white;
}


.user {
  position:fixed;
   right:20px;
   top:5px;
   display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.result-text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  font-size: 30px;
  font-family: sans-serif;
  text-transform: capitalize;
}
.nav-menu {
  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  background: rgb(87, 87, 87);
  
}

.nav-link {
  margin: 0 5 0 5;
}

.papers {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  padding: 25px; 
}

.paper {
  margin: 10px;
  text-align: center;
  background-color: rgb(194, 194, 194);
  width: 200px;
  height: 190px;
  padding: 10%;
  border: 1px solid black;
  margin-top: -1px;
}

.paper-details{
  float: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-right: 20px;
}

.no-paper-error{
  text-align: center;
  margin: auto;
}

.paper-buttons{
  float: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 30%;
}

.paper-text{
  color: black;
  text-decoration: none;
  margin: auto;
}

.paper-title{
  text-align: center;
  border: 1px solid black;
}

.paper-author{
  text-align: center;
  float: right;
}

.paper-year{
  text-align: center;
  float: left;
}

.paper-container{
  text-align: center;
  width: 300px;
  margin: auto;
}

.paper-subject{
  text-align: center;
  text-decoration: underline;
  margin-top: 100px;
}

.add-paper {
  max-width: 500px;
  margin: auto;
}

.add-input {
  width: 385px;
}

.user-buttons{
  float: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 30%;
}

.add-form {
  font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.add-form input {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}

.add-form textarea {
  resize:none;
	overflow: hidden;
}

.add-form h2{
  background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}

.add-form input[type="submit"]{
  -moz-box-shadow: inset 0px 1px 0px 0px rgb(194, 194, 194);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgb(194, 194, 194);
	box-shadow: inset 0px 1px 0px 0px rgb(194, 194, 194);
	background-color: rgb(194, 194, 194);
	border: 1px solid rgb(194, 194, 194);
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.welcome-message{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  padding: 25px; 
  text-transform: capitalize;
  float: left;
  flex-direction: column;
  padding-left: 30%;
}

.form {
  position: relative;
  z-index: 1;
  background: rgb(194, 194, 194);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fff;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #fff;
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}