body {
  background-color: rgb(207, 207, 207);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  padding: 1%;
  font-size: 30px;
  color: white;
  font-family: sans-serif;

}
.nav-menu {
  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  background: rgb(87, 87, 87);
  
}

.nav-link {
  margin: 0 5 0 5;
}

.papers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  padding: 25px; 
  vertical-align: middle;
}

.paper {
  margin: auto;
  align-items: center;
  list-style: none;
  text-align: center;
  background-color: rgb(194, 194, 194);
  width: 200px;
  height: 190px;
  padding-top: 10%;
  border: 1px solid black;
  margin-top: -1px;
}

.paper-details{
  float: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-right: 20px;
}

.paper-buttons{
  float: left;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 20px;
}

.paper-text{
  color: black;
  text-decoration: none;
  margin: auto;
}

.paper-title{
  text-align: center;
  border: 1px solid black;
}

.paper-year{
  text-align: center;
}

.paper-subject{
  text-align: center;
  text-decoration: underline;
}

.add-paper {
  max-width: 500px;
  margin: auto;
}

.add-input {
  width: 385px;
}