version: '3.8'

services:
  db:
    image: mariadb:latest
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: Catalogue
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      # Automatically run your SQL script on startup
      - ./db_script.sql:/docker-entrypoint-initdb.d/db_script.sql

  server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: password
      DB_NAME: Catalogue
    depends_on:
      - db

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - server

volumes:
  db_data: